    <footer>
        <div class="container">
            <p> Ebonyi State Government, Copyright &copy; 2019</p>
        </div>
    </footer>
    <script src="js/main.js"></script>
    
    </body>
</html>