    <footer>
        <div class="container">
            <p> Ebonyi State Government, Copyright &copy; 2019</p>
        </div>
    </footer>
    <script src="js/main.js"></script>
    <script>
    const radioselect=()=>{
        if
        (document.getElementById('categories3').checked){
                document.getElementById('engineerid').style.display='block';
            }
            else if
        (document.getElementById('categories6').checked){
                document.getElementById('businessid').style.display='block';
            }
            else document.getElementById('.').style.display='none';
    }
    
    </script>
    </body>
</html>