    <footer>
        <div class="container">
            <p> Ebonyi State Government, Copyright &copy; 2019</p>
        </div>
    </footer>
    <script src="js/main.js"></script>
    <script>
    const radioselect=()=>{
        if (document.getElementById('categories3').checked){
                document.getElementById('engineerid').style.display='block';
            }
        else if
        (document.getElementById('categories6').checked){
                document.getElementById('businessid').style.display='block';
                // alert("Radio checked");
                
            }
         else if
        (document.getElementById('categories2').checked){
                document.getElementById('teachersid').style.display='block';
            }
        else if
        (document.getElementById('categories1').checked){
                document.getElementById('eldersid').style.display='block';
            }
        else if
        (document.getElementById('categories4').checked){
                document.getElementById('medicineid').style.display='block';
        }
        else if
        (document.getElementById('categories5').checked){
                document.getElementById('tradersid').style.display='block';
        }
        else document.getElementById('.').style.display='none';
    }
    
    </script>
    </body>
</html>