<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>

        </title>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="../css/bootstrap.min.css">
            <link rel="stylesheet" href="../css/form.css">
            <style>
                @media screen and (max-width: 560px) {
                    
                    .contain{
                        width: 100%;
                        margin: 0 auto;
                    }
                }
            </style>
    </head>
    <body>
            <div class=container-fluid>
                <div class="contain">
                <div class="biggest ml-auto mr-auto my-4">
                <div class="title text-center">
                    <h1>Ebonyi State Stimulus Development Project</h1>
                </div>
                <form class="needs-validation" action="registrationGovern" method="POST" enctype="multipart/form-data" novalidate>
                <!-- <form class="needs-validation" action="registrationGovern" method="POST" novalidate> -->
                    <div class="form-row">
                        <div class="col-md-6">
                        <label for="validationCustom01">First name</label>
                        <input type="text" class="ntrol form-control" name="govern[firstname]" id="validationCustom01" placeholder="First name" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        </div>
                        <div class="col-md-6">
                        <label for="validationCustom02">Middle name</label>
                        <input type="text" class="form-control" name="govern[middlename]" id="validationCustom02" placeholder="Last name" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        </div>
                      
                    </div>
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="validationCustom02">Last name</label>
                            <input type="text" class="form-control" name="govern[lastname]" id="validationCustom02" placeholder="Last name" value="Otto" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
    
                        <div class="col-md-6">
                            <label for="validationCustom03">Date of Birth</label>
                            <input type="date" class="form-control" name="govern[dateofBirth]" id="validationCustom03" placeholder="City" required>
                            <div class="invalid-feedback">
                                Please provide a valid date.
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustomUsername">Email</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                                    </div>
                                    <input type="email" class="form-control" name="govern[email]" id="validationCustomUsername" placeholder="Email" aria-describedby="inputGroupPrepend" required>
                                    <div class="invalid-feedback">
                                    Invalid email.
                                    </div>
                                </div>
                            </div>
                        <div class="col-md-6">
                            <label for="validationCustom04">Age</label>
                            <input type="text" class="form-control" name="govern[age]" id="validationCustom04" placeholder="Age" required>
                            <div class="invalid-feedback">
                                Age Invalid.
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom03">Village</label>
                            <input type="text" class="form-control" name="govern[village]" id="validationCustom03" placeholder="Village" required>
                                <div class="invalid-feedback">
                                    Village can't be left empty
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom03">Phone</label>
                            <input type="number" class="form-control" name="govern[phone]" id="validationCustom03" placeholder="Phone" required>
                            <div class="invalid-feedback">
                                Please provide a valid date.
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom03">Autonomous Community</label>
                            <input type="text" class="form-control" name="govern[community]" id="validationCustom03" placeholder="Autonomous Community" required>
                            <div class="invalid-feedback">
                                Autonomous Community can't be left empty
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom03">L.G.A</label>
                            <input type="text" class="form-control" name="govern[lga]" id="validationCustom03" placeholder="L.G.A" required>
                            <div class="invalid-feedback">
                                L.G.A can't be left empty
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-6 mb-3">
                            <label for="validationCustom03">State</label>
                                <input type="text" class="form-control" name="govern[state]" id="validationCustom03" placeholder="State" required>
                                <div class="invalid-feedback">
                                    State can't be left empty
                                </div>
                            </div>
                        <div class="col-md-6 mb-3">
                            <label>Upload C.V</label>
                            <div class="custom-file">
                                <input type="file" style="background-radius:none;" class="form-control custom-file-input" name="govern[cv]" id="validatedCustomFile" >
                                <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
                                <div class="invalid-feedback">Example invalid custom file feedback</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-4 mb-3">
                           <label for="validationCustom05">Sex</label>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio1" name="govern[sex]" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio1">Female</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio2" name="govern[sex]" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio2">Male</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio3" name="govern[sex]" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio3">Prefer not to say</label>
                            </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationCustom05">Marital Status</label>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="maritalStatus1" name="govern[maritalStatus]" class="custom-control-input">
                            <label class="custom-control-label" for="maritalStatus1">Single</label>
                        </div>
                        <div class="custom-control custom-radio">
                            <input type="radio" id="maritalStatus2" name="govern[maritalStatus]" class="custom-control-input">
                            <label class="custom-control-label" for="maritalStatus2">Married</label>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="validationCustom05">Categories</label>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="categories1" name="govern[categories]" class="custom-control-input" value="Elders seeking for business opportunities">
                                <label class="custom-control-label" for="categories1">Elders seeking for business opportunities</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="categories2" name="govern[categories]" class="custom-control-input" value="Teachers">
                                <label class="custom-control-label" for="categories2">Teachers</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="categories3" name="govern[categories]" class="custom-control-input" value="Engineers/Technologists">
                                <label class="custom-control-label" for="categories3">Engineers/Technologists</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="categories4" name="govern[categories]" class="custom-control-input" value="Medicine">
                                <label class="custom-control-label" for="categories4">Medicine</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="categories5" name="govern[categories]" class="custom-control-input" value="Traders">
                                <label class="custom-control-label" for="categories5">Traders</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="categories6" name="govern[categories]" class="custom-control-input" value="Business Interest">
                                <label class="custom-control-label" for="categories6">Business Interest</label>
                            </div>
                        </div>
                    </div>   
                    <!--Engineers/Technologists-->
    
    

                <div class="form-group">
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck">
                        Agree to terms and conditions
                    </label>
                    <div class="invalid-feedback">
                        You must agree before submitting.
                    </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
                </div>
            </form>
        </div>
        
          
          <script>
          // Example starter JavaScript for disabling form submissions if there are invalid fields
          (function() {
            'use strict';
            window.addEventListener('load', function() {
              // Fetch all the forms we want to apply custom Bootstrap validation styles to
              var forms = document.getElementsByClassName('needs-validation');
              // Loop over them and prevent submission
              var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add('was-validated');
                }, false);
              });
            }, false);
          })();
          </script>
        </div>
    </body>
</html>