<% include partials/header %>

<section id="showcase">
    <div class="container">
        <div class="text">
            <div class="space">
                <h1>Ebonyi State Stimulus Development Project (ES-SDP)</h1>
                <p>An empowerment and employment programme of the Ebonyi State Government to assist, aid, encourage, empower and develop entrepreneurship amongst its citizens 
                through a vehicle that is transparent, fair and enriching set up in April 2019 the 
                first Stimulus Development Project in the country </p>
            </div>
        </div>
        <a href="/application"><button style="margin-top: 20px; margin-bottom: 20px" class="btn but">Apply</button></a>
    </div>
</section>
<!--About us section-->
<section class="about">
    <div class="container">
        <div class="form-row">
            <div class="col-md-6">
                <img src="assets/governor.jpeg">
            </div>
            <div class="col-md-6" id="about">
                <h3>About Project</h3>
                <p>Due to the desire of the Engr Dave Umahi Led administration 
                    to harness the human capital of the state and to match the 
                    infrastructural revolution in the state, the government initiated 
                    the Stimulus Development Project.</p>
                    <p>The SDP is designed to be a continuous program and to this end, 
                        the government is committed to ensuring that SDP fulfils its 
                        mandate and hopes that future administrations will key into the program. 
                        To ensure that it provides the required assistance and empower the citizens, 
                        the Government will make available a counseling/mentorship sessions, 
                        ( help in business plan developments) and significant monetary budget and 
                        in addition guarantees to enable bankable projects to be adequately funded. </p>
                        <p>There are two areas of focus for the Pilot Project. These focus areas were chosen because of the Government’s  understanding of what the economy of the state and its citizens need. They include; 
                            <ol>
                                <li>Businesses/Consulting</li>
                                <li>Teaching (Science and English)</li>
                            </ol>
                        </p>
            </div>
        </div>
    </div>
</section>


<% include partials/footer %>