<% include partials/header %>

<section id="showcase">
    <div class="container">
        <div class="text">
            <div class="space">
                <h1>Ebonyi State Stimulus Development Project (ES-SDP)</h1>
                <p>An empowerment and employment programme of the Ebonyi State Government to assist, aid, encourage, empower and develop entrepreneurship amongst its citizens 
                through a vehicle that is transparent, fair and enriching set up in April 2019 the 
                first Stimulus Development Project in the country </p>
            </div>
        </div>
        <a href="/application"><button style="margin-top: 20px; margin-bottom: 20px" class="btn but">Apply</button></a>
    </div>
</section>
<!--About us section-->
<section class="about">
    <div class="container">
        <div class="form-row">
            <div class="col-md-6">
                <img src="assets/governor.jpeg">
            </div>
            <div class="col-md-6" id="about">
                <h3>About Project</h3>
                <p>Due to the desire of the Engr Dave Umahi Led administration 
                    to harness the human capital of the state and to match the 
                    infrastructural revolution in the state, the government initiated 
                    the Stimulus Development Project.</p>
                    <p>The SDP is designed to be a continuous program and to this end, 
                        the government is committed to ensuring that SDP fulfils its 
                        mandate and hopes that future administrations will key into the program. 
                        To ensure that it provides the required assistance and empower the citizens, 
                        the Government will make available a counseling/mentorship sessions, 
                        ( help in business plan developments) and significant monetary budget and 
                        in addition guarantees to enable bankable projects to be adequately funded. </p>
                        <p>There are two areas of focus for the Pilot Project. These focus areas were chosen because of the Government’s  understanding of what the economy of the state and its citizens need. They include; 
                            <ol>
                                <li>Businesses/Consulting</li>
                                <li>Teaching (Science and English)</li>
                            </ol>
                        </p>
                        <p><h5><strong>Goals:</strong></h5>
                            <ul>
                                <li>
                                    To intervene and directly improve the livelihood of a critical mass of young unemployed Ebonyi state indigenes.
                                </li>
                                <li>
                                    To develop a qualitative system for the transfer of employability, entrepreneurial and technical skills.
                                </li>
                                <li>
                                    To create an ecosystem of solutions for ailing public services and government diversification policies.  	 
                                </li>
                                <li>
                                    To develop and enhance Ebonyi State’s knowledge economy.
                                </li>
                                <li>
                                    To develop a qualitative system for employment in the education and health sector; and encourage business development.
                                </li>
                            </ul>
                            </p>
            </div>
        </div>
    </div>
</section>
<section class="container">
    <div class="form-row">
        <div class="col-md-6 l">
            <h3>Application Categories</h3>
                <div class="accordion" id="accordionExample">
                        <div class="card">
                          <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Teachers
                              </button>
                            </h2>
                          </div>
                      
                          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                    Those employed in this category will help improve basic education <strong>(Science and English Language)</strong> delivery in the state.  
                                    The teachers will be deployed to public primary and secondary schools in Ebonyi State.  
                                    They will not replace the current teachers, but will work to improve and encourage Science and English language teaching and learning in the state. 
                                    Where possible,  they  will  also  assist  in  taking  basic  education  to  children in marginalised communities in the state.

                                    <p><strong>Selection Preference: Graduates are encouraged to apply.  However, holders of NCE or B.Ed. have added advantage.</strong></p>
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Medicine
                              </button>
                            </h2>
                          </div>
                          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                    This is to employ professional and qualified health workers - doctors and nurses. The employment will, fill existing gaps in the Primary health Care system, 
                                    create more jobs for the Ebonyi indigenes  and also improve on service delivery in our primary health centers across the State.<br />
                                    This job category is strictly for health workers.  Only the successful persons will be contacted.                                    
                            </div>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Engineers/Technologists
                              </button>
                            </h2>
                          </div>
                          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                    This category is to recruit Chemical, Civil, Computer,  Electrical/Electronics, Mechanical, Structural Engineers; Technicians and Technologist into Ebonyi State Civil Service. 
                                    These persons will help to drive developmental projects in the state. 
                                    Qualified Ebonyi state indigenes within and outside the state are encouraged to apply. 
                            </div>
                          </div>
                        </div>
                        
                        <div class="card">
                          <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                                Traders
                              </button>
                            </h2>
                          </div>
                          <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                This category seeks to identify indigenes who are into importation and exportation of goods and services, 
                                requires additional capital to expand their businesses. To qualify for this category, applicants must be doing 
                                sales of over <strong>Ten Million Naira (₦10,000,000) yearly.</strong>
                            </div>
                          </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header" id="headingThree">
                              <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseThree">
                                  Elders Seeking for Business Opportunities
                                </button>
                              </h2>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                              <div class="card-body">
                                  Elders and Civil Servants (retired) who wish start-up or fund their existing business are encourage to apply under this category. 
                                  Under this category, Ebonyi state government will provide grant facility to encourage entrepreneurship among elders and retirees/pensioners.   
                              </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                              <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseThree">
                                    Business interest
                                </button>
                              </h2>
                            </div>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                              <div class="card-body">
                                  Business interest category seeks to identify indigenes who are interested in providing the following services in the state:
                                  <ul>
                                    <li>ACCOUNTING</li>
                                    <li>FINANCIAL ANALYSIS</li>
                                    <li>INSURANCE</li>
                                    <li>BUSINESS DEVELOPMENT</li>
                                  </ul>
                                  <strong>Interested applicants should complete the online form and upload their business plan.</strong>
                                  
                              </div>
                            </div>
                        </div>
                      </div>
        </div>
    </div>
</section>


<% include partials/footer %>