<% include partials/header %>


    <section id="main-login">
            <div class="biggest">
                <h1>Login</h1>
                <form action="/login" method="post">

                        <div class="form-field">
                            <input type="email" name="username" value="" placeholder="Email Address">
                        </div>
                        <div class="form-field">
                            <input type="password" name="password" value="" placeholder="Password">
                        </div>
                            <input type="submit" value="Login" class="btn but">
                </form>
            </div>
        </section>
<% include partials/footer %>