<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <!-- search form -->
          <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search...">
                  <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                    </button>
                  </span>
            </div>
          </form>
          <!-- /.search form -->
          <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="treeview">
              <a href="">
                <i class="fa fa-dashboard"></i> <span>Profile</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="admin-password"><i class="fa fa-circle-o"></i> Change password</a></li>
                <%if(user.status == 1){%>
                <li><a href="create-admin"><i class="fa fa-circle-o"></i> Create an admin</a></li>
                <%}%>
              </ul>
            </li>
            <li class="treeview">
              <a href="">
                <i class="fa fa-folder"></i> <span>Categories</span>
                <span class="pull-right-container">
                    <small class="label pull-right bg-green" style="width:20px; text-align:center">6</small>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="admin-business"><i class="fa fa-circle-o"></i> Business</a></li>
                <li><a href="admin-elder"><i class="fa fa-circle-o"></i> Elders</a></li>
                <li><a href="admin-eng"><i class="fa fa-circle-o"></i> Engineers/Technologists</a></li>
                <li><a href="admin-medicine"><i class="fa fa-circle-o"></i> Medicine</a></li>
                <li><a href="admin-teacher"><i class="fa fa-circle-o"></i> Teachers</a></li>
                <li><a href="admin-trader"><i class="fa fa-circle-o"></i> Traders</a></li>
              </ul>
            </li>
            <li class="treeview">
              <a href="">
                <i class="fa fa-dashboard"></i> <span>Applications</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="admin"><i class="fa fa-circle-o"></i> All </a></li>
                <%if(user.status == 1){%>
                <li><a href="pending-applications"><i class="fa fa-circle-o"></i> Pending</a></li>
                <%}%>
                <li><a href="approved-applications"><i class="fa fa-circle-o"></i> Approved</a></li>
                <li><a href="declined-applications"><i class="fa fa-circle-o"></i> Declined</a></li>
              </ul>
            </li>
            <li class="">
              <a href="/logout">
                <i class="fa fa-share"></i> <span>Logout</span>
              </a>
            </li>
        </section>
        <!-- /.sidebar -->
      </aside>
    